.logo {
  font-family: "Lobster", cursive;
  font-size: 1.35em;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 10px;
}
.mat-toolbar {
  position: fixed;
  z-index: 10;
  top: 0;
}

.filter {
  width: 35px;
}
