<mat-toolbar *ngIf="auth$ | async as auth">
  <mat-toolbar-row>
    <button mat-icon-button color="accent" (click)="expandSideNav()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="mx-4 logo" [routerLink]="['/post-feed']">ThoughtCloud</span>
    <button
      mat-icon-button
      color="accent"
      aria-label="Example icon button with a menu icon"
      (click)="toggleTheme()"
    >
      <mat-icon>invert_colors</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      (menuOpened)="toggleNotes()"
      (menuClosed)="toggleNotes()"
      color="accent"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon [matBadge]="count" [matBadgeHidden]="menuOpen || count == 0"
        >notifications_on</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/notifications" mat-menu-item *ngFor="let notification of notes$ | async" >{{notification.sender.userName}} {{ notification.message }}</a>
    </mat-menu>
    <span class="spacer"></span>
    <search-bar-user></search-bar-user>
    <span class="spacer"></span>
    <info-popover></info-popover>

    <button *ngIf="!auth.loggedIn" mat-button (click)="goToLogin()">
      Login
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-sidenav-wrapper
  *ngIf="preferences$ | async as pref"
  [isExpanded]="pref?.sidebarExpanded ?? false"
></app-sidenav-wrapper>
