.verified-icon {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: auto;
  list-style: none;
  text-align: inherit;
  cursor: pointer;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  -webkit-box-direction: normal;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  display: inline-block;
  fill: currentcolor;
  height: 1.25em;
  position: relative;
  vertical-align: text-bottom;
  user-select: none;
  margin-left: 2px;
  max-height: 20px;
  max-width: 20px;
  color: grey;
}
