<div class="entire-comment">
  <div class="comment-head">
    <div mat-card-avatar class="header-image">
      <a [routerLink]="['/profile/', inputComment.author.id]">
        <img mat-card-avatar [src]="getImg(inputComment.author.id)" />
      </a>
    </div>
    <div class="comment-info">
      <p class="comment-fullname">
        {{ inputComment.author.firstName }} {{ inputComment.author.lastName
        }}<verified-icon></verified-icon>
      </p>

      <p class="comment-username mat-card-subtitle">
        <a [routerLink]="['/profile/', inputComment.author.id]"
          >@{{ inputComment.author.userName }}</a
        >
      </p>
    </div>

    <div class="ms-auto">
      <button
        mat-icon-button
        matListItemMeta
        (click)="toggleEdit()"
        *ngIf="inputComment.author.id === currentUser.id"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        matListItemMeta
        (click)="handleDelete()"
        *ngIf="
          inputComment.author.id === currentUser.id ||
          parentPost.author.id === currentUser.id
        "
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <p *ngIf="!editPost; else editFormTemplate">
    {{ inputComment.text }}
  </p>
  <ng-template #editFormTemplate>
    <form class="form" [formGroup]="editForm" (ngSubmit)="handleEdit()">
      <mat-form-field class="full-width" appearance="fill">
        <textarea matInput autofocus formControlName="text" id="textInput"></textarea>
      </mat-form-field>
      <div align="end">
        <button mat-raised-button color="warn" (click)="toggleEdit()">
          Cancel
        </button>
        <button id="testClass" mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </ng-template>
  <div class="comment-reply" align="right">
    <div class="comment-actions">
      <div class="icon-div">
        <i class="fa-regular fa-comment"></i>
        <p>{{ replies }}</p>
      </div>
      <div class="icon-div">
        <i
          [ngClass]="
            userLikedPost ? 'fa-solid fa-heart' : 'fa-regular fa-heart'
          "
          (mouseenter)="likeEnter($event.target)"
          (mouseleave)="likeLeave($event.target)"
          (click)="handleClick($event.target)"
        ></i>
        <p>{{ inputComment.likeCount == 0 ? "" : inputComment.likeCount }}</p>
      </div>
      <button
        mat-raised-button
        color="primary"
        *ngIf="!replyToComment"
        (click)="toggleReplyToComment()"
      >
        Reply
      </button>
    </div>
    <form
      id="replyForm"
      class="form"
      *ngIf="replyToComment"
      [formGroup]="commentForm"
      (ngSubmit)="submitReply($event)"
    >
      <mat-form-field  class="full-width" appearance="fill">
        <mat-label>Make a Post</mat-label>
        <textarea  id="textPost2" matInput autofocus formControlName="text"></textarea>
      </mat-form-field>
      <div align="end">
        <button mat-raised-button color="warn" (click)="toggleReplyToComment()">
          Cancel
        </button>
        <button id="submitPostButton" mat-raised-button color="primary" type="submit">Post</button>
      </div>
    </form>
  </div>
  <div *ngFor="let comment of inputComment.comments" class="comment-container">
    <app-comment
      [comment]="comment"
      [parentPost]="inputComment"
      (handleDeletePost)="handleCommentDelete($event)"
      (handleNewComment)="updateForNewComment($event)"
    ></app-comment>
  </div>
</div>
