<mat-sidenav-container fixedInViewport="true" autosize>
  <mat-sidenav
    #sidenav
    mode="side"
    opened="isExpanded"
    *ngIf="(auth$ | async)?.loggedIn"
  >
    <mat-nav-list>
      <mat-list-item [routerLink]="'personalized-feed'">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Home</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'post-feed'">
        <mat-icon mat-list-icon>public</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Browse</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'user'">
        <mat-icon mat-list-icon>newspaper</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">News</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'user'">
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Trending</span>
      </mat-list-item>

      <mat-divider></mat-divider>
      <div><span *ngIf="isExpanded" class="menu-item">Followings</span></div>
      <mat-list-item
        *ngFor="let following of (userInfo$ | async)?.followings"
        [routerLink]="['/profile/', following.id]"
      >
        <div mat-card-avatar class="header-image">
          <img mat-card-avatar [src]="getImg(following.id)" />
        </div>
        <span *ngIf="isExpanded" class="menu-item">{{
          "@" + following.userName
        }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
