<app-navbar></app-navbar>
<div class="container">
    <div>
        <div><img src="assets/images/favicon.png" alt="profile picture"></div>
        <div>
            <h2>@username <button>Follow</button></h2>
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <p>I'm a talented coder and the first user of ThoughtCloud!</p>
            <ul class="flex-menu">
                <li><strong>3</strong>posts</li>
                <li><strong>2</strong>followers</li>
                <li><strong>5</strong>following</li>
            </ul>
        </div>
    </div>
</div>