<div class="container">
  <div>
    <div class="user-circle"></div>
    <div>
      <h2>
        @{{ profileOwner.userName }}
        <button mat-raised-button color="primary" *ngIf="!isCurrentUserProfile">Follow</button>
        <button mat-raised-button color="primary" *ngIf="isCurrentUserProfile">Edit Profile</button>
      </h2>
      <h3>{{ profileOwner.firstName }} {{ profileOwner.lastName }}</h3>
      <p>I'm a talented coder and the first user of ThoughtCloud!</p>
      <ul class="flex-menu">
        <li>
          <strong>{{ postCount }}</strong> posts
        </li>
        <li>
          <strong>{{ profileOwner.followersCount }}</strong> followers
        </li>
        <li>
          <strong>{{ profileOwner.followingsCount }}</strong> following
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div id="post-feed" *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </div>
</div>
