<ng-container class="dropdown" *ngIf="(auth$ | async)?.user as currentUser">
  <ng-container *ngIf="currentUser.id > 0">
    <button mat-raised-button [matMenuTriggerFor]="menu" color="accent">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu class="{{ (preferences$ | async)?.theme }}" #menu="matMenu">
      <div class="userIsAuth">
        <div style="text-align: center">
          <p class="dropdown-item-text">
            {{ currentUser?.firstName + " " + currentUser?.lastName }}
          </p>
          <p class="dropdown-item-text">
            {{ "@" + currentUser?.userName }}
          </p>
        </div>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="logout()" [routerLink]="'login'">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </mat-menu>
  </ng-container>
</ng-container>
