<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
    </form>
    <a class="login-rerout-link" [routerLink]="['/register']">Don't have an account?</a>
  </mat-card>
</div>