<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <form class="form" (ngSubmit)="onSubmit($event)">
      <mat-card-content>
        <mat-form-field class="full-width" *ngIf="!hasToken">
          <input matInput placeholder="Email" [formControl]="email" />
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="hasToken">
          <input
            matInput
            placeholder="New Password"
            type="password"
            [formControl]="newPassword"
          />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">
        Submit
      </button>
    </form>
  </mat-card>
</div>
